<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.findmyphone" android:versionCode="8"
	android:versionName="0.8" xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Keeps the processor from sleeping when a message is received. -->
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
<!--  <uses-permission android:name="android.permission.VIBRATE" /> -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> 
	
	<application android:allowBackup="true" android:icon="@drawable/ic_launcher"
		android:label="@string/app_name" android:theme="@style/AppTheme"  
		 >
       
			
		<activity android:name="com.example.findmyphone.PFPhone"
			android:label="@string/app_name" android:screenOrientation="nosensor"
			android:launchMode="singleTask">    
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.example.findmyphone.LAUNCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<receiver
			android:name="com.example.findmyphone.PFPhoneBroadcastReceiverOfPebbleNotifications">
			<intent-filter>
				<action android:name="com.getpebble.action.app.RECEIVE">
				</action>
			</intent-filter>
		</receiver>
	</application>

</manifest>
